---
import DashboardIcon from "./DashboardIcon.astro"
import PageIcon from "./PageIcon.astro"
import Stat100Icon from "./Stat100Icon.astro"
---

<section class="py-20 md:py-28 px-6 grid grid-cols-1 md:grid-cols-3 gap-10 md:gap-20">
  <Stat100Icon class="w-full max-w-sm place-self-center" />
  <div class="md:col-span-2 flex justify-center flex-col">
    <span class="text-secondary-600">SEO</span>
    <h3 class="mt-4 text-5xl font-bold">Bringing more clients</h3>
    <p class="mt-6">
      Our SEO boosting service is designed to bring in more clients and convert prospects
      into leads. With our expertise, we can help your website rank higher in search
      engine results, driving more organic traffic to your business.
    </p>
  </div>
</section>

<section class="py-20 md:py-28 px-6 grid grid-cols-1 md:grid-cols-3 gap-10 md:gap-20">
  <PageIcon class="w-full max-w-sm place-self-center" />
  <div class="md:col-span-2 flex justify-center flex-col">
    <span class="text-secondary-600">DESIGN</span>
    <h3 class="mt-4 text-5xl font-bold">Capturing attention</h3>
    <p class="mt-6">
      Professional design not only creates a great first impression, but also captures the
      attention of people, turning prospects into leads. At the end decision making is
      controlled by emotions and great design helps to make it right.
    </p>
  </div>
</section>

<section class="py-20 md:py-28 px-6 grid grid-cols-1 md:grid-cols-3 gap-10 md:gap-20">
  <DashboardIcon class="w-full max-w-sm place-self-center" />
  <div class="md:col-span-2 flex justify-center flex-col">
    <span class="text-secondary-600">PRODUCT</span>
    <h3 class="mt-4 text-5xl font-bold">Providing great experience</h3>
    <p class="mt-6">
      We build apps and web sites that deliver an exceptional user experience and perform
      well. Leading to long-term relationships and recurring customers. Because people are
      satisfied with using your product.
    </p>
  </div>
</section>
