---
import PageSpeed from "../icons/PageSpeed.astro"
import RightArrow from "../icons/RightArrow.astro"
import MetricCircle from "./MetricCircle.astro"
---

<section class="py-20 md:py-28 grid grid-cols-1 md:grid-cols-2 gap-20">
  <div>
    <PageSpeed class="" />

    <h3 class="text-5xl font-bold mt-6 leading-tight">
      Best loading times on the market
    </h3>

    <p class="mt-6">
      Secret tricks and knowledge learned from experience coupled with right choice of
      modern technologies and team provide the best performance on the market.
    </p>

    <div class="flex gap-4 mt-10">
      <a href="/#contact" class="py-3 px-6 border-black border rounded">CONTACT</a>
      <a
        href="https://pagespeed.web.dev/analysis/https-www-flurium-com/vahq6aukda?form_factor=mobile"
        class="py-3 px-6 flex gap-2 items-center"
      >
        CHECK PAGESPEED RESULTS
        <RightArrow />
      </a>
    </div>
  </div>

  <div class="flex flex-col justify-center gap-12">
    <div class="grid grid-cols-[1fr_auto] gap-4">
      <div class="p-4 border border-gray-500 text-gray-700 rounded text-lg">
        https://flurium.com
      </div>
      <a
        href="https://pagespeed.web.dev/analysis/https-www-flurium-com/vahq6aukda?form_factor=mobile"
        class="font-semibold bg-blue-500 py-4 px-7 rounded text-white text-lg"
      >
        Analyze
      </a>
    </div>

    <div class="grid grid-cols-3 gap-x-2 gap-y-8">
      <MetricCircle metric="Performance" class="justify-self-end" />
      <MetricCircle metric="Accessibility" class="justify-self-center" />
      <MetricCircle metric="Best Practices" class="justify-self-start" />
      <MetricCircle metric="SEO" class="col-start-2 justify-self-center" />
    </div>
  </div>
</section>
