<section class="py-20 md:py-28 px-6">
  <div
    class="grid md:grid-cols-3 divide-y-2 md:divide-y-0 md:divide-x-2 border-2
    divide-dashed border-dashed border-secondary-300 divide-secondary-300"
  >
    <a
      href="https://www.spentoday.com"
      target="_blank"
      class="grid place-content-center h-32"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="243"
        height="44"
        viewBox="0 0 243 44"
        fill="none"
      >
        <path
          d="M14.4825 23.4242C19.0761 17.603 25.4399 13.4652 32.5944 11.6477C35.5958 10.9024 39.1369 10.6937 41.4212 12.7955C42.2809 13.5835 42.8707 14.6261 43.1057 15.7733C43.3407 16.9206 43.2088 18.1134 42.729 19.1803C42.2492 20.2472 41.4462 21.1332 40.4355 21.711C39.4247 22.2887 38.2583 22.5284 37.1039 22.3956C34.3908 22.09 32.1361 19.7869 29.4082 19.7347C27.1387 19.7347 25.15 21.2255 23.4941 22.7907C21.8382 24.3559 20.2561 26.1447 18.1123 26.8826"
          fill="#8576E1"></path>
        <path
          d="M15.8469 25.1368C18.4422 21.7885 21.6438 18.9841 25.276 16.8775C28.6404 14.9355 32.7795 13.137 36.712 13.2277C38.3426 13.2731 40.0395 13.8322 40.829 15.3964C41.1748 16.056 41.3143 16.8084 41.2286 17.5519C41.1428 18.2953 40.8358 18.9938 40.3494 19.5525C37.472 22.7112 33.5763 18.6457 30.4554 18.1621C27.6223 17.7238 25.158 19.0689 23.0774 20.8976C21.3435 22.4089 19.8605 24.5474 17.6619 25.3635C17.1814 25.513 16.7751 25.8455 16.5267 26.2925C16.2783 26.7395 16.2066 27.267 16.3265 27.7665C16.4644 28.264 16.7875 28.6861 17.2264 28.942C17.6652 29.1978 18.1846 29.2668 18.6727 29.1342C21.2034 28.1972 22.9815 26.3307 24.8924 24.4794C26.427 22.9681 28.2715 21.4568 30.4997 22.1671C32.7279 22.8774 34.6609 24.4341 37.103 24.6532C38.2452 24.7386 39.3913 24.5555 40.4539 24.1181C41.5164 23.6807 42.4674 23.0005 43.2342 22.1293C44.047 21.1832 44.6159 20.044 44.8891 18.8153C45.1622 17.5866 45.1311 16.3074 44.7984 15.0942C44.4595 13.8753 43.8335 12.7603 42.9755 11.8472C42.1174 10.9341 41.0535 10.2509 39.8772 9.85749C35.3987 8.24795 30.0201 10.258 25.9327 12.1245C20.9576 14.4627 16.5844 17.9585 13.1613 22.3333C12.819 22.7085 12.6285 23.2028 12.6285 23.7162C12.6285 24.2297 12.819 24.7239 13.1613 25.099C13.5214 25.4618 14.0063 25.6651 14.5115 25.6651C15.0166 25.6651 15.5015 25.4618 15.8616 25.099L15.8469 25.1368Z"
          fill="#8576E1"></path>
        <path
          d="M31.6318 29.0372C26.9627 35.0375 20.4919 39.3028 13.2163 41.1758C10.1671 41.9431 6.5696 42.158 4.24888 39.9865C3.37865 39.1746 2.78237 38.1021 2.5455 36.9226C2.30863 35.7432 2.44333 34.5174 2.93031 33.421C3.41728 32.3246 4.23152 31.4139 5.25632 30.8193C6.28111 30.2248 7.46383 29.977 8.63496 30.1114C11.3913 30.426 13.682 32.7893 16.4608 32.843C18.759 32.889 20.7793 31.3084 22.4691 29.7047C24.159 28.1011 25.7512 26.2442 27.9367 25.4923"
          fill="#8576E1"></path>
        <path
          d="M29.8744 27.702C27.3184 31.0497 24.1653 33.854 20.5877 35.9614C17.2642 37.9035 13.1844 39.7019 9.30828 39.6037C7.7011 39.6037 6.02847 39.0067 5.25034 37.4425C4.90829 36.7828 4.77081 36.0294 4.85673 35.2854C4.94265 34.5414 5.24776 33.8432 5.7303 33.2864C8.55924 30.1277 12.399 34.1856 15.4825 34.6692C18.2678 35.1075 20.6967 33.77 22.7548 31.9413C24.4638 30.43 25.9255 28.2914 28.0927 27.4753C28.5669 27.3242 28.9674 26.9903 29.2122 26.542C29.457 26.0938 29.5274 25.5652 29.409 25.0648C29.2715 24.5686 28.9524 24.1483 28.52 23.894C28.0876 23.6397 27.5765 23.5717 27.0964 23.7046C24.6093 24.6416 22.8494 26.5005 20.9731 28.3519C19.4532 29.8632 17.6351 31.3746 15.4389 30.6718C13.2426 29.969 11.3373 28.4048 8.89377 28.1856C7.76901 28.0998 6.64026 28.2826 5.594 28.7201C4.54774 29.1575 3.61174 29.8381 2.85774 30.7096C2.05653 31.6541 1.49518 32.7917 1.22466 34.0191C0.954141 35.2464 0.983032 36.5245 1.30873 37.7372C1.64169 38.9575 2.25823 40.074 3.10407 40.9885C3.94992 41.903 4.99914 42.5874 6.15938 42.9815C10.5809 44.5911 15.8752 42.581 19.9041 40.6692C24.8119 38.3379 29.124 34.8409 32.4925 30.4602C32.8326 30.088 33.0223 29.5944 33.0223 29.0811C33.0223 28.5678 32.8326 28.0742 32.4925 27.702C32.1384 27.3375 31.6601 27.133 31.1616 27.133C30.6632 27.133 30.1849 27.3375 29.8308 27.702H29.8744Z"
          fill="#8576E1"></path>
        <path
          d="M9.1164 10.1748C6.60677 8.40375 3.13665 9.00254 1.36565 11.5122C-0.405356 14.0218 0.193406 17.4919 2.70303 19.2629L36.3145 42.982C38.8242 44.753 42.2943 44.1543 44.0653 41.6446C45.8363 39.135 45.2375 35.6648 42.7279 33.8938L9.1164 10.1748Z"
          fill="#8576E1"></path>
        <path
          d="M19.1174 11.1239C22.1892 11.1239 24.6794 8.63373 24.6794 5.56195C24.6794 2.49016 22.1892 3.38816e-09 19.1174 3.38816e-09C16.0457 3.38816e-09 13.5555 2.49016 13.5555 5.56195C13.5555 8.63373 16.0457 11.1239 19.1174 11.1239Z"
          fill="#8576E1"></path>
        <path
          d="M19.1522 11.1238C18.0507 11.1307 16.972 10.8103 16.0527 10.2033C15.1335 9.59639 14.4152 8.73018 13.9889 7.71449C13.5626 6.69881 13.4475 5.57942 13.6582 4.49824C13.8688 3.41705 14.3958 2.42273 15.1722 1.6414C15.9487 0.860063 16.9397 0.326877 18.0195 0.109436C19.0994 -0.108005 20.2195 0.000125407 21.2378 0.420054C22.2561 0.839983 23.1269 1.55283 23.7396 2.46823C24.3523 3.38362 24.6794 4.46042 24.6794 5.56195C24.6794 7.03106 24.0982 8.4404 23.0626 9.48247C22.0271 10.5245 20.6213 11.1146 19.1522 11.1238ZM19.1522 0.291903C18.103 0.291903 17.0774 0.603019 16.2051 1.18591C15.3327 1.76879 14.6528 2.59729 14.2513 3.56659C13.8498 4.5359 13.7447 5.60248 13.9494 6.63149C14.1541 7.6605 14.6593 8.6057 15.4012 9.34757C16.1431 10.0894 17.0883 10.5947 18.1173 10.7994C19.1463 11.0041 20.2129 10.899 21.1822 10.4975C22.1515 10.096 22.98 9.41609 23.5629 8.54374C24.1458 7.67139 24.4569 6.64577 24.4569 5.5966C24.4551 4.19027 23.8956 2.84205 22.9012 1.84763C21.9067 0.8532 20.5585 0.293743 19.1522 0.291903Z"
          fill="#8576E1"></path>
        <path
          d="M62.1227 34.7601C61.0124 34.7651 59.909 34.5896 58.8581 34.2406C57.8731 33.9203 56.9577 33.4251 56.1583 32.7801C55.4329 32.2127 54.8573 31.4848 54.4795 30.6571C54.3901 30.5018 54.3431 30.3269 54.3431 30.1489C54.3431 29.9709 54.3901 29.796 54.4795 29.6408C54.5839 29.48 54.7232 29.3435 54.8876 29.2408C55.052 29.138 55.2375 29.0715 55.4311 29.046C55.7554 28.9734 56.0959 29.0246 56.3826 29.189C56.6976 29.3581 56.9474 29.6223 57.0943 29.9419C57.34 30.4181 57.7011 30.8289 58.1464 31.1389C58.6844 31.5295 59.2858 31.8298 59.9257 32.0272C60.6345 32.2548 61.3764 32.3692 62.1227 32.366C62.9296 32.3753 63.7315 32.2427 64.4899 31.9745C65.1599 31.7449 65.7607 31.3569 66.2383 30.8453C66.6917 30.3369 66.932 29.6812 66.9113 29.0083C66.9071 28.5437 66.8063 28.0847 66.6148 27.659C66.4234 27.2333 66.1453 26.8498 65.7973 26.5315C64.7749 25.6873 63.4863 25.2091 62.1459 25.1764C60.2476 25.0862 58.4253 24.4232 56.9319 23.2792C56.3304 22.8065 55.8467 22.2073 55.5171 21.5267C55.1876 20.8461 55.0206 20.1017 55.0288 19.3494C54.9812 18.2665 55.3354 17.203 56.0267 16.3531C56.7379 15.5196 57.6684 14.8899 58.7189 14.5313C59.9306 14.102 61.2123 13.8903 62.5018 13.9064C63.4728 13.8884 64.4394 14.0389 65.3564 14.3506C66.1349 14.6386 66.8532 15.0621 67.476 15.6003C68.0817 16.141 68.6029 16.7649 69.0232 17.4523C69.2523 17.7676 69.3592 18.1517 69.3249 18.5364C69.3071 18.6981 69.251 18.8536 69.1611 18.9908C69.0712 19.1279 68.9498 19.2429 68.8066 19.3268C68.646 19.4291 68.4633 19.4938 68.2728 19.516C68.0822 19.5382 67.889 19.5173 67.7081 19.4548C67.3343 19.3501 67.0177 19.1068 66.8262 18.7772C66.5562 18.2976 66.2028 17.8672 65.7818 17.505C65.3562 17.1464 64.8656 16.8681 64.3352 16.6844C63.7094 16.4701 63.0489 16.368 62.3857 16.3832C61.2304 16.3427 60.0849 16.6026 59.067 17.136C58.649 17.3528 58.302 17.6795 58.0654 18.0788C57.8288 18.478 57.7121 18.9339 57.7287 19.3946C57.7296 19.9235 57.8737 20.4428 58.1464 20.9002C58.5182 21.4579 59.0588 21.8894 59.6936 22.1349C60.7076 22.5586 61.7877 22.8131 62.8886 22.8878C64.7103 22.9793 66.4527 23.6422 67.8551 24.7774C68.4434 25.3016 68.9073 25.9442 69.2146 26.6606C69.5219 27.377 69.6651 28.1499 69.6344 28.9255C69.6589 29.8255 69.4401 30.7159 69 31.5078C68.5867 32.2332 68.0134 32.8606 67.3213 33.3447C66.5881 33.8458 65.7716 34.2202 64.9077 34.4514C63.9977 34.6751 63.061 34.779 62.1227 34.7601Z"
          fill="#8576E1"></path>
        <path
          d="M62.3589 36.616C61.016 36.6199 59.6817 36.4054 58.4107 35.9813C57.1823 35.5797 56.04 34.9602 55.041 34.1538C54.0716 33.3727 53.3031 32.3801 52.7972 31.2557C52.5762 30.814 52.4712 30.3255 52.4916 29.8342C52.5121 29.3429 52.6574 28.8643 52.9145 28.4417C53.1599 28.0395 53.492 27.6943 53.8876 27.4302C54.2832 27.1661 54.7328 26.9894 55.2052 26.9124C55.9913 26.7528 56.8099 26.8749 57.5116 27.2565C58.1991 27.6234 58.7474 28.1972 59.0752 28.8929C59.1982 29.0884 59.3605 29.2575 59.5522 29.3899C59.9212 29.6548 60.3337 29.8565 60.7718 29.9864C61.8367 30.3389 62.9906 30.3389 64.0554 29.9864C64.4257 29.8732 64.7579 29.6645 65.0171 29.3822C65.085 29.3034 65.136 29.212 65.1669 29.1135C65.1978 29.0149 65.208 28.9113 65.1969 28.8087C65.1946 28.5923 65.1452 28.3789 65.0522 28.1825C64.9592 27.9861 64.8247 27.8112 64.6575 27.6694C64.4229 27.44 63.7896 27.0271 62.1791 26.8589C59.8532 26.7309 57.6259 25.8969 55.8072 24.4731C54.984 23.8072 54.3225 22.9703 53.8709 22.0234C53.4192 21.0764 53.1887 20.043 53.1959 18.9981C53.1609 17.48 53.6698 15.9976 54.6345 14.8077C55.5757 13.6877 56.8108 12.8392 58.2074 12.3532C59.6565 11.8321 61.1903 11.573 62.7342 11.5885C63.9525 11.5697 65.1647 11.7613 66.3149 12.1544C67.3321 12.5238 68.2725 13.0705 69.0904 13.7678C69.8614 14.4332 70.5279 15.2062 71.0684 16.0618C71.541 16.7578 71.7486 17.5942 71.6548 18.4246C71.598 18.8715 71.441 19.3006 71.195 19.6813C70.949 20.062 70.6202 20.3849 70.2319 20.6269C69.8214 20.8853 69.3572 21.0509 68.873 21.1118C68.3888 21.1726 67.8969 21.1271 67.4329 20.9786C66.5812 20.7217 65.8605 20.1589 65.4158 19.4034C65.2489 19.1142 65.032 18.8555 64.7747 18.6387C64.5243 18.4329 64.2384 18.2723 63.9304 18.1646C63.4825 18.0302 63.0146 17.9708 62.5465 17.9888C61.7673 17.9509 60.9915 18.1116 60.2949 18.4552C60.1744 18.5052 60.0747 18.5936 60.0122 18.7061C59.9498 18.8186 59.9281 18.9485 59.9509 19.0746C59.9512 19.271 60.0052 19.4637 60.1073 19.6328C60.1073 19.6328 60.2245 19.8316 60.7796 20.0916C61.5966 20.4163 62.4634 20.6049 63.344 20.6498C65.6112 20.7803 67.7735 21.6284 69.5048 23.0662C70.3076 23.7795 70.9423 24.655 71.3649 25.6321C71.7874 26.6091 71.9877 27.6644 71.9519 28.7246C71.9681 29.9583 71.6585 31.1752 71.0528 32.2574C70.4925 33.245 69.7155 34.0989 68.7777 34.7579C67.8481 35.4069 66.8076 35.8886 65.7051 36.1801C64.6147 36.4713 63.4892 36.6179 62.3589 36.616Z"
          fill="#8576E1"></path>
        <path
          d="M78.0633 34.298C77.8697 34.3021 77.6773 34.2701 77.4975 34.204C77.3176 34.1378 77.1541 34.0389 77.0167 33.913C76.879 33.785 76.7705 33.6329 76.6974 33.4657C76.6244 33.2984 76.5884 33.1194 76.5915 32.939V15.2651C76.5859 15.0834 76.6207 14.9025 76.6938 14.7337C76.7669 14.5648 76.8769 14.4117 77.0167 14.2837C77.1556 14.1602 77.3196 14.0633 77.4992 13.9985C77.6788 13.9337 77.8705 13.9024 78.0633 13.9062H83.7214C85.0352 13.8831 86.3325 14.1799 87.4826 14.7668C88.5617 15.3274 89.4485 16.1567 90.0419 17.1601C90.6695 18.238 90.9849 19.4472 90.9576 20.6707C90.9813 21.8578 90.6654 23.0297 90.0419 24.0681C89.4427 25.0482 88.5554 25.8517 87.4826 26.3859C86.3274 26.9584 85.0322 27.2469 83.7214 27.2239H79.535V32.939C79.5438 33.3009 79.3968 33.6511 79.1262 33.913C78.9869 34.0407 78.8207 34.1407 78.6379 34.207C78.4551 34.2732 78.2595 34.3042 78.0633 34.298ZM79.535 24.7174H83.7214C84.5209 24.7327 85.3106 24.553 86.0108 24.1964C86.6607 23.8581 87.198 23.3621 87.5644 22.762C87.9485 22.1229 88.1431 21.4015 88.1286 20.6707C88.1457 19.9036 87.9516 19.1451 87.5644 18.4662C87.2059 17.8411 86.6685 17.3189 86.0108 16.9563C85.318 16.5797 84.5252 16.3888 83.7214 16.4052H79.535V24.7174Z"
          fill="#8576E1"></path>
        <path
          d="M78.2042 36.1523C77.748 36.1533 77.296 36.0694 76.8744 35.9052C76.4528 35.7411 76.0699 35.5 75.7476 35.1959C75.4254 34.8918 75.1703 34.5308 74.9969 34.1335C74.8235 33.7362 74.7353 33.3105 74.7374 32.8809V15.316C74.7293 14.8785 74.8171 14.4442 74.9954 14.0401C75.1736 13.636 75.4385 13.2709 75.7735 12.9675C76.0946 12.6718 76.4747 12.4386 76.8918 12.2815C77.309 12.1245 77.755 12.0465 78.2042 12.0521H83.7191C85.3509 12.0251 86.9616 12.403 88.3892 13.1476C89.7658 13.878 90.8976 14.9567 91.6567 16.2614C92.4375 17.6171 92.8355 19.1388 92.8123 20.6808C92.8344 22.1926 92.4331 23.6832 91.6488 25.0026C90.878 26.2849 89.7403 27.3378 88.3653 28.0414C86.9401 28.7685 85.34 29.1381 83.7191 29.1144H81.6789V32.866C81.687 33.7217 81.3379 34.5462 80.7066 35.1619C80.3837 35.4795 79.995 35.7312 79.5645 35.9016C79.1341 36.072 78.6711 36.1573 78.2042 36.1523ZM81.6789 22.7967H83.7191C84.1438 22.8103 84.5647 22.717 84.9384 22.5266C85.263 22.3512 85.5262 22.0905 85.6955 21.7762C85.8937 21.431 85.9926 21.0431 85.9824 20.6508C86.0013 20.2104 85.8969 19.7731 85.6796 19.3827C85.4947 19.0666 85.2184 18.8064 84.8826 18.6324C84.52 18.443 84.1096 18.3497 83.6952 18.3623H81.655L81.6789 22.7967Z"
          fill="#8576E1"></path>
        <path
          d="M97.7826 34.297C97.616 34.3011 97.4503 34.2688 97.2957 34.202C97.141 34.1351 97.0005 34.0352 96.8827 33.9082C96.7648 33.7812 96.6721 33.6297 96.6101 33.463C96.5481 33.2962 96.5181 33.1177 96.522 32.9381V15.2651C96.5159 15.0832 96.5451 14.9019 96.6078 14.7329C96.6705 14.5639 96.7653 14.4109 96.8861 14.2837C97.0047 14.1595 97.145 14.0621 97.299 13.9973C97.4529 13.9325 97.6173 13.9015 97.7826 13.9062H108.729C108.893 13.8985 109.056 13.9259 109.21 13.9868C109.364 14.0477 109.505 14.1409 109.625 14.261C109.738 14.3819 109.827 14.527 109.884 14.6869C109.942 14.8469 109.969 15.0181 109.961 15.1896C109.967 15.3541 109.94 15.5181 109.882 15.6704C109.824 15.8228 109.736 15.96 109.625 16.0729C109.379 16.3078 109.057 16.4297 108.729 16.4126H99.0432V22.7616H105.99C106.154 22.7525 106.317 22.7785 106.471 22.8381C106.625 22.8977 106.766 22.9898 106.887 23.1089C106.999 23.2263 107.087 23.3673 107.146 23.5232C107.205 23.6791 107.234 23.8464 107.23 24.0148C107.234 24.182 107.205 24.3482 107.146 24.5028C107.087 24.6575 106.999 24.7972 106.887 24.9131C106.767 25.0332 106.626 25.1264 106.472 25.1873C106.318 25.2482 106.154 25.2757 105.99 25.268H99.0432V31.7906H108.729C109.057 31.7735 109.379 31.8954 109.625 32.1303C109.737 32.2446 109.824 32.3832 109.882 32.5368C109.94 32.6904 109.967 32.8554 109.961 33.0211C109.969 33.1926 109.942 33.3639 109.884 33.5238C109.827 33.6837 109.738 33.8288 109.625 33.9497C109.505 34.0688 109.363 34.1609 109.209 34.2205C109.055 34.2801 108.892 34.3061 108.729 34.297H97.7826Z"
          fill="#8576E1"></path>
        <path
          d="M109.15 36.1525H97.8263C97.411 36.1544 96.9994 36.0712 96.6153 35.9075C96.2312 35.7438 95.8822 35.5029 95.5885 35.1987C95.2948 34.8946 95.0622 34.5331 94.9042 34.1353C94.7461 33.7375 94.6657 33.3112 94.6676 32.881V15.3156C94.661 14.8771 94.7411 14.4418 94.9031 14.0366C95.0651 13.6314 95.3054 13.2649 95.6094 12.9596C96.2047 12.3673 97.0009 12.0412 97.8263 12.0516H109.15C109.969 12.0318 110.763 12.3473 111.359 12.9296C111.657 13.2291 111.893 13.5888 112.051 13.9863C112.209 14.3838 112.287 14.8107 112.28 15.2406C112.285 15.6689 112.204 16.0938 112.042 16.4879C111.88 16.8819 111.64 17.2366 111.338 17.5291C110.744 18.088 109.967 18.3912 109.164 18.377H100.978V20.8456H106.317C107.125 20.8369 107.905 21.1545 108.491 21.731C108.782 22.0284 109.014 22.3829 109.172 22.7739C109.33 23.1649 109.411 23.5844 109.411 24.0083C109.411 24.4321 109.33 24.8517 109.172 25.2427C109.014 25.6336 108.782 25.9881 108.491 26.2856C107.905 26.8621 107.125 27.1797 106.317 27.171H100.978V29.8271H109.15C109.952 29.8121 110.73 30.1155 111.323 30.675C111.623 30.9617 111.863 31.3099 112.026 31.6973C112.189 32.0848 112.273 32.5032 112.272 32.926C112.281 33.3538 112.203 33.7788 112.045 34.174C111.887 34.5693 111.651 34.9261 111.352 35.2221C111.062 35.5196 110.719 35.755 110.341 35.9147C109.963 36.0743 109.558 36.1551 109.15 36.1525Z"
          fill="#8576E1"></path>
        <path
          d="M117.337 34.2976C117.158 34.3032 116.979 34.2719 116.813 34.2056C116.647 34.1393 116.497 34.0395 116.372 33.9126C116.245 33.7839 116.146 33.6313 116.08 33.464C116.014 33.2967 115.983 33.118 115.989 32.9386V15.265C115.982 15.0842 116.011 14.9039 116.077 14.735C116.143 14.5662 116.244 14.4126 116.372 14.2835C116.498 14.1591 116.649 14.0614 116.815 13.9965C116.981 13.9316 117.158 13.9008 117.337 13.906C117.54 13.9037 117.741 13.9474 117.924 14.0338C118.107 14.1202 118.268 14.2469 118.393 14.4043L129.94 29.5489V15.265C129.934 15.0832 129.967 14.9023 130.036 14.7335C130.104 14.5647 130.207 14.4115 130.338 14.2835C130.468 14.16 130.622 14.0631 130.79 13.9983C130.958 13.9336 131.137 13.9022 131.318 13.906C131.499 13.8987 131.679 13.9284 131.848 13.9934C132.017 14.0584 132.17 14.1572 132.298 14.2835C132.55 14.5489 132.685 14.9018 132.673 15.265V32.9386C132.68 33.2988 132.546 33.6478 132.298 33.9126C132.172 34.0414 132.019 34.1423 131.85 34.2087C131.681 34.275 131.5 34.3053 131.318 34.2976C131.124 34.2942 130.932 34.2559 130.751 34.1843C130.558 34.1126 130.389 33.9898 130.261 33.8295L118.715 18.6849V32.9386C118.723 33.3004 118.586 33.6507 118.332 33.9126C118.202 34.0403 118.046 34.1403 117.875 34.2065C117.704 34.2728 117.521 34.3037 117.337 34.2976Z"
          fill="#8576E1"></path>
        <path
          d="M131.284 36.1521C130.849 36.1492 130.419 36.0652 130.016 35.9046C129.498 35.7074 129.044 35.3755 128.702 34.9442L120.719 24.44V32.8808C120.73 33.7356 120.4 34.5603 119.8 35.1768C119.491 35.4916 119.12 35.7406 118.71 35.9083C118.3 36.0761 117.859 36.159 117.415 36.1521C116.976 36.1585 116.54 36.0752 116.135 35.9073C115.73 35.7395 115.364 35.4907 115.061 35.1768C114.456 34.5628 114.123 33.7372 114.134 32.8808V15.3164C114.131 14.6469 114.337 13.9927 114.724 13.4433C115.111 12.8939 115.661 12.476 116.297 12.2469C116.934 12.0178 117.627 11.9886 118.281 12.1634C118.935 12.3381 119.519 12.7081 119.952 13.223L120.02 13.3056L127.98 23.7722V15.3164C127.972 14.8789 128.056 14.4445 128.226 14.0404C128.396 13.6364 128.648 13.2713 128.967 12.9679C129.576 12.3798 130.394 12.0511 131.246 12.0525C131.687 12.0431 132.124 12.1235 132.532 12.2887C132.94 12.454 133.309 12.7005 133.616 13.0129C133.914 13.3186 134.148 13.6794 134.304 14.0747C134.461 14.4701 134.536 14.892 134.527 15.3164V32.8808C134.534 33.7159 134.216 34.5218 133.638 35.1317C133.339 35.4543 132.976 35.7116 132.57 35.8873C132.165 36.063 131.727 36.1532 131.284 36.1521Z"
          fill="#8576E1"></path>
        <path
          d="M139.506 16.4122C139.338 16.4185 139.171 16.391 139.015 16.3313C138.858 16.2716 138.716 16.1809 138.596 16.0649C138.477 15.9456 138.384 15.8039 138.322 15.6482C138.26 15.4924 138.231 15.326 138.236 15.1589C138.231 14.9928 138.26 14.8275 138.322 14.6731C138.384 14.5187 138.477 14.3784 138.596 14.2609C138.715 14.1435 138.857 14.0514 139.014 13.9903C139.17 13.9291 139.338 13.9003 139.506 13.9056H153.652C153.989 13.9056 154.312 14.0376 154.55 14.2726C154.788 14.5077 154.922 14.8265 154.922 15.1589C154.922 15.4913 154.788 15.81 154.55 16.0451C154.312 16.2801 153.989 16.4122 153.652 16.4122H139.506ZM146.594 34.2984C146.412 34.3025 146.232 34.2702 146.063 34.2034C145.894 34.1365 145.74 34.0366 145.612 33.9096C145.483 33.7825 145.382 33.6311 145.314 33.4643C145.247 33.2976 145.214 33.119 145.218 32.9394V13.9056H147.971V32.9394C147.975 33.119 147.942 33.2976 147.875 33.4643C147.807 33.6311 147.706 33.7825 147.577 33.9096C147.448 34.0366 147.295 34.1365 147.126 34.2034C146.957 34.2702 146.776 34.3025 146.594 34.2984Z"
          fill="#8576E1"></path>
        <path
          d="M146.594 36.1524C146.167 36.1534 145.744 36.0694 145.35 35.9051C144.955 35.7408 144.597 35.4996 144.295 35.1952C143.994 34.8909 143.755 34.5295 143.593 34.1319C143.431 33.7342 143.348 33.3082 143.35 32.8783V18.385H139.682C139.256 18.4059 138.831 18.3395 138.431 18.1899C138.032 18.0402 137.667 17.8105 137.358 17.5145C137.05 17.2185 136.804 16.8625 136.636 16.468C136.468 16.0736 136.382 15.6489 136.382 15.2197C136.382 14.7906 136.468 14.3659 136.636 13.9715C136.804 13.577 137.05 13.221 137.358 12.925C137.667 12.6291 138.032 12.3993 138.431 12.2497C138.831 12.1 139.256 12.0336 139.682 12.0545H153.476C153.902 12.0336 154.327 12.1 154.726 12.2497C155.126 12.3993 155.491 12.6291 155.799 12.925C156.108 13.221 156.353 13.577 156.521 13.9715C156.689 14.3659 156.776 14.7906 156.776 15.2197C156.776 15.6489 156.689 16.0736 156.521 16.468C156.353 16.8625 156.108 17.2185 155.799 17.5145C155.491 17.8105 155.126 18.0402 154.726 18.1899C154.327 18.3395 153.902 18.4059 153.476 18.385H149.83V32.8783C149.834 33.3088 149.753 33.7357 149.591 34.1343C149.43 34.5328 149.191 34.895 148.889 35.1997C148.587 35.5045 148.228 35.7456 147.833 35.9092C147.437 36.0728 147.014 36.1555 146.586 36.1524H146.594Z"
          fill="#8576E1"></path>
        <path
          d="M168.595 34.7609C167.149 34.7833 165.712 34.5275 164.364 34.0074C163.126 33.5218 162.003 32.7853 161.068 31.845C160.136 30.8974 159.407 29.7721 158.926 28.5373C157.913 25.8244 157.913 22.8416 158.926 20.1287C159.41 18.8998 160.138 17.7799 161.068 16.8361C162.001 15.8934 163.124 15.1565 164.364 14.6737C167.085 13.6487 170.09 13.6487 172.81 14.6737C174.047 15.162 175.169 15.8982 176.107 16.8361C177.041 17.7776 177.772 18.8979 178.256 20.1287C179.279 22.8398 179.279 25.8263 178.256 28.5373C177.78 29.7735 177.05 30.8981 176.112 31.8397C175.175 32.7814 174.05 33.5195 172.81 34.0074C171.468 34.5276 170.036 34.7835 168.595 34.7609ZM168.595 32.3121C169.671 32.3231 170.739 32.1154 171.732 31.7018C172.663 31.3025 173.507 30.7266 174.215 30.0066C174.92 29.2772 175.468 28.4133 175.826 27.4674C176.585 25.4328 176.585 23.1956 175.826 21.161C175.474 20.2145 174.929 19.3504 174.224 18.623C173.52 17.8956 172.671 17.3206 171.732 16.934C169.714 16.1407 167.468 16.1407 165.45 16.934C164.52 17.3208 163.68 17.8927 162.982 18.6143C162.28 19.3507 161.731 20.2157 161.364 21.161C160.594 23.1938 160.594 25.4346 161.364 27.4674C161.733 28.4094 162.282 29.2717 162.982 30.0066C163.683 30.7279 164.523 31.3041 165.45 31.7018C166.445 32.1162 167.516 32.3239 168.595 32.3121Z"
          fill="#8576E1"></path>
        <path
          d="M168.382 36.6153C166.726 36.6335 165.083 36.3223 163.542 35.6988C162.093 35.1027 160.778 34.2059 159.68 33.0641C158.596 31.913 157.747 30.5497 157.182 29.0547C156.022 25.8534 156.022 22.3281 157.182 19.1267C157.749 17.6396 158.598 16.2843 159.68 15.1403C160.777 13.9968 162.092 13.0997 163.542 12.5056C166.644 11.2812 170.075 11.2812 173.177 12.5056C174.621 13.1016 175.932 13.9968 177.027 15.1357C178.122 16.2746 178.979 17.6329 179.544 19.1267C180.704 22.3281 180.704 25.8534 179.544 29.0547C178.984 30.5541 178.129 31.9183 177.033 33.0615C175.938 34.2048 174.625 35.1026 173.177 35.6988C171.651 36.3191 170.022 36.6303 168.382 36.6153ZM168.382 17.943C167.584 17.9312 166.792 18.0871 166.054 18.4013C165.383 18.6837 164.778 19.1077 164.275 19.6461C163.763 20.2114 163.361 20.8724 163.09 21.5935C162.799 22.3864 162.653 23.2279 162.66 24.0755C162.649 24.9234 162.795 25.7656 163.09 26.5575C163.358 27.2801 163.761 27.9416 164.275 28.5049C164.782 29.0472 165.389 29.4784 166.062 29.7726C167.549 30.3834 169.207 30.3834 170.694 29.7726C171.375 29.4771 171.989 29.0405 172.499 28.4901C173.009 27.9396 173.404 27.287 173.659 26.5727C174.222 24.9585 174.222 23.1924 173.659 21.5782C173.4 20.8633 173.001 20.2109 172.488 19.6613C171.977 19.1186 171.364 18.6897 170.687 18.4013C169.956 18.0898 169.172 17.9339 168.382 17.943Z"
          fill="#8576E1"></path>
        <path
          d="M186.874 34.2754C186.695 34.2795 186.516 34.2472 186.349 34.1805C186.182 34.1137 186.03 34.0139 185.903 33.887C185.775 33.7601 185.675 33.6088 185.608 33.4422C185.541 33.2757 185.509 33.0973 185.513 32.9179V15.2631C185.507 15.0814 185.538 14.9003 185.606 14.7315C185.674 14.5627 185.776 14.4098 185.906 14.2827C186.035 14.1594 186.187 14.0626 186.353 13.9979C186.519 13.9332 186.696 13.9018 186.874 13.9057H191.609C193.009 13.8894 194.398 14.1456 195.7 14.6598C196.904 15.1345 197.996 15.8535 198.906 16.7715C199.818 17.6909 200.531 18.7868 201.001 19.9917C201.979 22.6398 201.979 25.5488 201.001 28.1969C200.538 29.4047 199.828 30.5036 198.917 31.4239C198.005 32.3443 196.913 33.0661 195.707 33.5439C194.406 34.0581 193.016 34.3142 191.616 34.298L186.874 34.2754ZM188.236 31.8772H191.609C192.972 31.9051 194.317 31.5581 195.496 30.8742C196.614 30.2059 197.53 29.2499 198.15 28.1064C198.787 26.8561 199.118 25.4738 199.118 24.0717C199.118 22.6696 198.787 21.2872 198.15 20.0369C197.529 18.9023 196.612 17.9564 195.496 17.2994C194.315 16.6213 192.971 16.2771 191.609 16.3039H188.236V31.8772Z"
          fill="#8576E1"></path>
        <path
          d="M191.623 36.152H186.924C186.494 36.153 186.069 36.0691 185.672 35.9049C185.274 35.7408 184.914 35.4997 184.61 35.1956C184.307 34.8915 184.066 34.5305 183.903 34.1332C183.74 33.7358 183.657 33.3102 183.659 32.8806V15.3155C183.652 14.8788 183.734 14.4451 183.9 14.0413C184.067 13.6374 184.314 13.2718 184.627 12.967C185.242 12.3713 186.068 12.0423 186.924 12.0516H191.623C193.259 12.0328 194.882 12.3309 196.404 12.9295C197.839 13.5005 199.139 14.3614 200.225 15.4581C201.312 16.5573 202.163 17.8672 202.725 19.3073C203.313 20.8314 203.606 22.4534 203.588 24.0868C203.605 25.722 203.314 27.3457 202.732 28.8739C202.175 30.3184 201.325 31.6324 200.236 32.7337C199.147 33.8349 197.843 34.6998 196.404 35.2742C194.881 35.8684 193.258 36.1664 191.623 36.152ZM190.189 29.9319H191.623C192.632 29.9504 193.627 29.6908 194.498 29.1815C195.315 28.694 195.984 27.9938 196.434 27.1556C196.909 26.1927 197.155 25.1338 197.155 24.0606C197.155 22.9873 196.909 21.9284 196.434 20.9655C195.987 20.1359 195.319 19.4455 194.505 18.9696C193.632 18.4594 192.634 18.1997 191.623 18.2193H190.189V29.9319Z"
          fill="#8576E1"></path>
        <path
          d="M207.222 34.2971C207 34.305 206.78 34.2509 206.586 34.1405C206.392 34.03 206.231 33.8676 206.121 33.6706C205.995 33.4756 205.921 33.2498 205.908 33.0164C205.895 32.783 205.943 32.5502 206.047 32.3419L213.22 14.8197C213.308 14.5518 213.477 14.3192 213.703 14.1552C213.928 13.9912 214.199 13.9041 214.476 13.9063C214.754 13.8933 215.028 13.9763 215.255 14.142C215.481 14.3077 215.646 14.5464 215.724 14.8197L222.934 32.3947C223.027 32.6052 223.068 32.8361 223.052 33.0667C223.037 33.2973 222.966 33.5203 222.845 33.7158C222.725 33.904 222.559 34.0567 222.363 34.1587C222.168 34.2607 221.949 34.3084 221.73 34.2971C221.468 34.301 221.21 34.2248 220.991 34.0782C220.765 33.933 220.589 33.7191 220.489 33.4667L214.195 17.379H214.934L208.448 33.4667C208.342 33.7271 208.159 33.9466 207.923 34.0933C207.711 34.224 207.469 34.2943 207.222 34.2971ZM208.573 29.7675L209.593 27.5027H219.61L220.629 29.7675H208.573Z"
          fill="#8576E1"></path>
        <path
          d="M233 34.2986C232.826 34.3014 232.652 34.2687 232.49 34.2024C232.329 34.1361 232.182 34.0377 232.059 33.913C231.932 33.7849 231.832 33.6325 231.765 33.465C231.698 33.2975 231.665 33.1181 231.668 32.9375V26.8884L224.718 16.0303C224.509 15.7308 224.416 15.3655 224.455 15.002C224.507 14.7007 224.671 14.4305 224.914 14.2458C225.16 14.0442 225.47 13.937 225.787 13.9433C226.036 13.9313 226.281 14.0002 226.487 14.14C226.684 14.296 226.852 14.4853 226.984 14.6995L232.947 25.1493H233.203L239.272 14.5634C239.4 14.3674 239.57 14.2021 239.769 14.0794C239.982 13.9583 240.224 13.8982 240.469 13.9056C240.61 13.9069 240.749 13.9364 240.878 13.9922C241.007 14.048 241.124 14.1291 241.222 14.2307C241.433 14.4532 241.563 14.7411 241.591 15.0473C241.617 15.3932 241.524 15.7376 241.327 16.0227L234.325 26.8809V32.93C234.329 33.1098 234.297 33.2887 234.231 33.4557C234.164 33.6227 234.064 33.7744 233.938 33.9016C233.811 34.0288 233.66 34.1289 233.494 34.1958C233.327 34.2628 233.149 34.2952 232.97 34.2911L233 34.2986Z"
          fill="#8576E1"></path>
        <path
          d="M232.755 36.1524C232.34 36.1557 231.929 36.0731 231.547 35.9096C231.164 35.7461 230.817 35.5052 230.527 35.201C230.229 34.8987 229.994 34.5379 229.834 34.1403C229.675 33.7426 229.595 33.316 229.6 32.8861V27.4172L223.151 17.1388C222.697 16.4435 222.51 15.6001 222.626 14.7714C222.74 13.991 223.143 13.2857 223.75 12.8011C224.316 12.322 225.025 12.0575 225.759 12.0519C226.402 12.0334 227.034 12.2336 227.555 12.6213C227.923 12.9165 228.239 13.2737 228.49 13.6776L228.541 13.7675L232.835 21.5138L237.29 13.5503C237.565 13.1143 237.935 12.7501 238.371 12.4865C238.864 12.1909 239.428 12.0406 239.999 12.0519C240.391 12.0506 240.78 12.1301 241.141 12.2859C241.502 12.4416 241.829 12.6703 242.103 12.9584C242.593 13.4831 242.899 14.1607 242.972 14.8838C243.041 15.6586 242.853 16.4347 242.439 17.0863L235.932 27.4172V32.8861C235.934 33.315 235.853 33.74 235.694 34.1367C235.535 34.5334 235.301 34.8939 235.006 35.1975C234.711 35.5011 234.36 35.7418 233.973 35.9057C233.587 36.0696 233.173 36.1534 232.755 36.1524Z"
          fill="#8576E1"></path>
        <path
          d="M224.648 31.6216L217.479 14.1699C217.261 13.5403 216.854 12.9968 216.316 12.6165C215.777 12.2362 215.135 12.0385 214.481 12.0514C213.833 12.045 213.199 12.242 212.665 12.6157C212.132 12.9893 211.723 13.5215 211.497 14.1399L204.35 31.5314C204.124 32.0265 204.024 32.5715 204.059 33.1162C204.094 33.6609 204.262 34.188 204.549 34.6491C204.829 35.1189 205.226 35.5051 205.699 35.7689C206.173 36.0326 206.706 36.1646 207.245 36.1517C207.878 36.148 208.496 35.9534 209.02 35.5924C209.544 35.2314 209.952 34.7202 210.192 34.1233L211.172 31.6817H217.804L218.761 34.1083C219.007 34.7305 219.44 35.2568 219.999 35.6108C220.516 35.9491 221.117 36.129 221.731 36.1291C222.265 36.1439 222.794 36.0167 223.266 35.7598C223.737 35.5029 224.135 35.1254 224.42 34.6642C224.696 34.2133 224.86 33.7012 224.9 33.1714C224.94 32.6417 224.853 32.11 224.648 31.6216ZM212.86 25.6942L214.584 21.3144L216.315 25.6942H212.86Z"
          fill="#8576E1"></path>
      </svg>
    </a>
    <a href="/#contact" id="your-company" class="grid place-content-center h-32">
      <p class="text-3xl font-semibold transition-transform">Your company</p>
    </a>
    <a
      href="https://acupower.co.uk"
      target="_blank"
      class="grid place-content-center h-32"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="219"
        height="48"
        viewBox="0 0 219 48"
        fill="none"
      >
        <path
          d="M84.8239 25.4713H77.406L76.3397 28.0218H72.3397L79.1271 11.8026H83.1272L89.9147 28.0218H85.8908L84.8239 25.4713ZM83.5881 22.5205L81.1153 16.5949L78.6423 22.5205H83.5881Z"
          fill="#1C3666"></path>
        <path
          d="M91.2208 19.9006C91.2728 18.1927 91.8435 16.5382 92.861 15.1463C93.8784 13.7544 95.297 12.6877 96.937 12.0811C98.5771 11.4745 100.365 11.3553 102.075 11.7386C103.784 12.1219 105.339 12.9904 106.542 14.2342L103.948 16.5007C103.473 15.945 102.881 15.4951 102.212 15.1816C101.542 14.8679 100.812 14.698 100.069 14.6832C98.6838 14.7391 97.3741 15.3145 96.414 16.289C95.4539 17.2636 94.9178 18.5619 94.9178 19.9125C94.9178 21.2632 95.4539 22.5615 96.414 23.5361C97.3741 24.5106 98.6838 25.0859 100.069 25.1419C100.812 25.127 101.542 24.957 102.211 24.6434C102.881 24.3298 103.473 23.88 103.948 23.3243L106.542 25.5909C105.705 26.4437 104.701 27.1237 103.589 27.5901C102.477 28.0565 101.28 28.2999 100.069 28.3056C97.762 28.3002 95.5476 27.4195 93.8959 25.8504C92.2442 24.2812 91.2837 22.147 91.2208 19.9006Z"
          fill="#1C3666"></path>
        <path
          d="M108.719 21.0099V11.8033H112.282V20.8687C112.226 21.4088 112.287 21.9545 112.46 22.4704C112.632 22.9864 112.916 23.4611 113.289 23.8641C113.663 24.267 114.118 24.5891 114.628 24.8096C115.137 25.0301 115.688 25.1441 116.246 25.1441C116.803 25.1441 117.355 25.0301 117.864 24.8096C118.373 24.5891 118.829 24.267 119.203 23.8641C119.577 23.4611 119.859 22.9864 120.032 22.4704C120.206 21.9545 120.266 21.4088 120.209 20.8687V11.8033H123.791V21.0099C123.791 22.9574 122.997 24.825 121.583 26.202C120.169 27.579 118.252 28.3527 116.252 28.3527C114.252 28.3527 112.335 27.579 110.921 26.202C109.508 24.825 108.713 22.9574 108.713 21.0099"
          fill="#1C3666"></path>
        <path
          d="M127.04 11.8026H134.532C138.143 11.8026 140.81 14.0691 140.81 17.2807C140.81 20.4922 138.143 22.7588 134.532 22.7588H130.603V28.0202H127.039L127.04 11.8026ZM134.143 19.5719C135.913 19.5719 137.128 18.6754 137.128 17.2822C137.128 15.8889 135.917 14.9925 134.143 14.9925H130.604V19.5726L134.143 19.5719Z"
          fill="#E23C2F"></path>
        <path
          d="M142.381 19.8999C142.337 18.1863 142.818 16.499 143.764 15.0533C144.71 13.6077 146.077 12.4694 147.689 11.7839C149.303 11.0983 151.088 10.8968 152.82 11.2049C154.551 11.513 156.148 12.3168 157.409 13.5136C158.668 14.7103 159.533 16.2457 159.893 17.9236C160.252 19.6015 160.09 21.3457 159.427 22.9335C158.764 24.5211 157.629 25.8801 156.169 26.8369C154.709 27.7937 152.989 28.3048 151.23 28.3049C148.92 28.305 146.702 27.4262 145.049 25.8558C143.396 24.2855 142.439 22.1481 142.381 19.8999ZM156.418 19.8999C156.377 18.9119 156.041 17.9572 155.448 17.1544C154.856 16.3514 154.034 15.7359 153.086 15.384C152.137 15.0321 151.103 14.9595 150.112 15.1753C149.122 15.3911 148.218 15.8856 147.513 16.5975C146.809 17.3093 146.335 18.2071 146.151 19.1792C145.966 20.1514 146.078 21.1551 146.474 22.0654C146.87 22.9757 147.532 23.7527 148.378 24.2997C149.223 24.8466 150.215 25.1395 151.231 25.1419C152.626 25.0987 153.949 24.5266 154.917 23.5475C155.886 22.5685 156.424 21.2596 156.418 19.8999Z"
          fill="#E23C2F"></path>
        <path
          d="M161.026 11.8026H164.904L167.981 22.6871L171.663 11.8026H175.543L179.225 22.6871L182.302 11.8026H186.184L181.143 28.0202H177.561L173.634 16.8765L169.683 28.0202H166.071L161.026 11.8026Z"
          fill="#E23C2F"></path>
        <path
          d="M191.897 14.9424V18.1772H200.258V21.3147H191.897V24.8827H201.13V28.0202H188.31V11.8018H201.129V14.9395L191.897 14.9424Z"
          fill="#E23C2F"></path>
        <path
          d="M213.857 28.0202L210.051 22.7566H207.408V28.0202H203.845V11.8026H211.335C214.947 11.8026 217.613 14.0691 217.613 17.2807C217.622 18.4091 217.261 19.511 216.58 20.4244C215.9 21.3379 214.937 22.0149 213.832 22.3561L217.929 28.0225L213.857 28.0202ZM207.408 19.5674H210.949C212.718 19.5674 213.934 18.671 213.934 17.2777C213.934 15.8845 212.722 14.988 210.949 14.988H207.408V19.5674Z"
          fill="#E23C2F"></path>
        <path
          d="M31.8214 0L6.42731 38.3862L6.52856 38.4803L31.8214 9.65259L39.754 11.9938L31.8214 0Z"
          fill="#E23C2F"></path>
        <path
          d="M39.754 11.9938L4.40696 41.7764L4.45375 41.8637L39.7555 20.3899L47.6774 24.0049L39.754 11.9938Z"
          fill="#E23C2F"></path>
        <path
          d="M47.6705 24.0026L2.50778 44.8564L2.54461 44.9311L47.6721 31.2669L55.6284 35.9934L47.6705 24.0026Z"
          fill="#1C3666"></path>
        <path
          d="M55.6284 35.9934L0.652344 47.8745L0.667688 47.9454L55.6284 42.9306L63.5456 48L55.6284 35.9934Z"
          fill="#1C3666"></path>
        <path d="M72.3245 39.4839H73.1988V33.5226H72.3245V39.4839Z" fill="#E23C2F"></path>
        <path
          d="M81.4297 33.5226V37.968L77.7582 33.5226H77.0414V39.4839H77.9156V35.0384L81.5871 39.4839H82.3039V33.5226H81.4297Z"
          fill="#E23C2F"></path>
        <path
          d="M90.4646 34.2634V33.5226H86.1462V39.4839H87.0203V37.0738H90.0888V36.3414H87.0203V34.2634H90.4646Z"
          fill="#E23C2F"></path>
        <path d="M93.7058 39.4839H94.58V33.5226H93.7058V39.4839Z" fill="#E23C2F"></path>
        <path
          d="M102.811 33.5226V37.968L99.1394 33.5226H98.4227V39.4839H99.2968V35.0384L102.968 39.4839H103.685V33.5226H102.811Z"
          fill="#E23C2F"></path>
        <path d="M107.527 39.4839H108.401V33.5226H107.527V39.4839Z" fill="#E23C2F"></path>
        <path
          d="M113.459 39.4839H114.324V34.2634H116.423V33.5226H111.362V34.2634H113.459V39.4839Z"
          fill="#E23C2F"></path>
        <path
          d="M120.26 38.743V36.8183H123.328V36.0944H120.26V34.2634H123.703V33.5226H119.385V39.4839H123.827V38.743H120.26Z"
          fill="#E23C2F"></path>
        <path
          d="M133.997 33.5226H131.611V39.4839H132.485V37.6784H133.997C135.589 37.6784 136.55 36.895 136.55 35.6006C136.55 34.306 135.589 33.5226 133.997 33.5226ZM133.971 36.9376H132.485V34.2634H133.971C135.09 34.2634 135.675 34.7489 135.675 35.6006C135.675 36.4521 135.09 36.9376 133.971 36.9376Z"
          fill="#E23C2F"></path>
        <path
          d="M142.693 39.552C144.555 39.552 145.935 38.2576 145.935 36.5033C145.935 34.7489 144.555 33.4544 142.693 33.4544C140.813 33.4544 139.432 34.7574 139.432 36.5033C139.432 38.249 140.813 39.552 142.693 39.552ZM142.693 38.794C141.321 38.794 140.306 37.8233 140.306 36.5033C140.306 35.1833 141.321 34.2124 142.693 34.2124C144.047 34.2124 145.062 35.1833 145.062 36.5033C145.062 37.8233 144.047 38.794 142.693 38.794Z"
          fill="#E23C2F"></path>
        <path
          d="M151.065 39.552C152.683 39.552 153.435 38.7686 153.435 37.8573C153.435 35.6686 149.729 36.5799 149.729 35.1236C149.729 34.6041 150.174 34.1783 151.215 34.1783C151.756 34.1783 152.359 34.3316 152.893 34.6637L153.182 33.9824C152.675 33.6418 151.932 33.4544 151.215 33.4544C149.606 33.4544 148.872 34.2379 148.872 35.1577C148.872 37.3719 152.579 36.4521 152.579 37.9084C152.579 38.4279 152.124 38.8281 151.065 38.8281C150.28 38.8281 149.501 38.5386 149.046 38.1383L148.724 38.8026C149.213 39.2454 150.13 39.552 151.065 39.552Z"
          fill="#E23C2F"></path>
        <path
          d="M158.506 39.552C160.123 39.552 160.875 38.7686 160.875 37.8573C160.875 35.6686 157.168 36.5799 157.168 35.1236C157.168 34.6041 157.615 34.1783 158.654 34.1783C159.197 34.1783 159.8 34.3316 160.333 34.6637L160.621 33.9824C160.114 33.6418 159.371 33.4544 158.654 33.4544C157.046 33.4544 156.312 34.2379 156.312 35.1577C156.312 37.3719 160.018 36.4521 160.018 37.9084C160.018 38.4279 159.564 38.8281 158.506 38.8281C157.719 38.8281 156.942 38.5386 156.487 38.1383L156.163 38.8026C156.652 39.2454 157.571 39.552 158.506 39.552Z"
          fill="#E23C2F"></path>
        <path d="M164.163 39.4839H165.036V33.5226H164.163V39.4839Z" fill="#E23C2F"></path>
        <path
          d="M172.996 36.3926C173.478 36.1626 173.819 35.7113 173.819 35.064C173.819 34.1017 173.032 33.5226 171.624 33.5226H168.879V39.4839H171.799C173.347 39.4839 174.142 38.8963 174.142 37.8743C174.142 37.0823 173.687 36.5799 172.996 36.3926ZM171.546 34.2124C172.437 34.2124 172.944 34.536 172.944 35.1662C172.944 35.7964 172.437 36.12 171.546 36.12H169.754V34.2124H171.546ZM171.764 38.794H169.754V36.8098H171.764C172.735 36.8098 173.259 37.1164 173.259 37.8062C173.259 38.496 172.735 38.794 171.764 38.794Z"
          fill="#E23C2F"></path>
        <path d="M177.506 39.4839H178.38V33.5226H177.506V39.4839Z" fill="#E23C2F"></path>
        <path
          d="M182.223 39.4839H186.41V38.743H183.098V33.5226H182.223V39.4839Z"
          fill="#E23C2F"></path>
        <path d="M189.424 39.4839H190.298V33.5226H189.424V39.4839Z" fill="#E23C2F"></path>
        <path
          d="M195.356 39.4839H196.221V34.2634H198.32V33.5226H193.259V34.2634H195.356V39.4839Z"
          fill="#E23C2F"></path>
        <path d="M201.282 39.4839H202.157V33.5226H201.282V39.4839Z" fill="#E23C2F"></path>
        <path
          d="M206.873 38.743V36.8183H209.941V36.0944H206.873V34.2634H210.318V33.5226H206V39.4839H210.44V38.743H206.873Z"
          fill="#E23C2F"></path>
        <path
          d="M215.649 39.552C217.267 39.552 218.018 38.7686 218.018 37.8573C218.018 35.6686 214.312 36.5799 214.312 35.1236C214.312 34.6041 214.758 34.1783 215.798 34.1783C216.34 34.1783 216.943 34.3316 217.476 34.6637L217.764 33.9824C217.258 33.6418 216.515 33.4544 215.798 33.4544C214.189 33.4544 213.455 34.2379 213.455 35.1577C213.455 37.3719 217.161 36.4521 217.161 37.9084C217.161 38.4279 216.707 38.8281 215.649 38.8281C214.862 38.8281 214.085 38.5386 213.63 38.1383L213.306 38.8026C213.796 39.2454 214.714 39.552 215.649 39.552Z"
          fill="#E23C2F"></path>
      </svg>
    </a>
  </div>
</section>

<style>
  #your-company:hover > p {
    @apply scale-110;
  }
</style>
