---
type Props = {
  class?: string
  metric: string
}

const { class: className, metric } = Astro.props
---

<div class:list={["w-fit", className]}>
  <div
    class="rounded-full h-[5.5rem] w-[5.5rem] border-[6px] grid place-content-center border-green-500 text-4xl text-green-600 bg-green-100"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="53"
      height="25"
      viewBox="0 0 53 25"
      fill="none"
    >
      <path
        d="M9.09375 24H6.20312V4.9375L0.25 7.20312V4.5625L8.85938 1.25H9.09375V24Z"
        fill="#16a34a"></path>
      <path
        d="M33.2188 15.2969C33.2188 16.7448 33.0521 18.0312 32.7188 19.1562C32.3854 20.2708 31.9062 21.2083 31.2812 21.9688C30.6562 22.7396 29.8906 23.3229 28.9844 23.7188C28.0781 24.1146 27.0417 24.3125 25.875 24.3125C24.7188 24.3125 23.6823 24.1198 22.7656 23.7344C21.849 23.3385 21.0729 22.75 20.4375 21.9688C19.8021 21.2083 19.3177 20.2708 18.9844 19.1562C18.651 18.0312 18.4844 16.7448 18.4844 15.2969V9.96875C18.4844 8.52083 18.651 7.23958 18.9844 6.125C19.3177 5 19.8021 4.05208 20.4375 3.28125C21.0625 2.51042 21.8281 1.92708 22.7344 1.53125C23.651 1.125 24.6875 0.921875 25.8438 0.921875C27.0104 0.921875 28.0469 1.125 28.9531 1.53125C29.8698 1.92708 30.6458 2.51042 31.2812 3.28125C31.9062 4.05208 32.3854 5 32.7188 6.125C33.0521 7.23958 33.2188 8.52083 33.2188 9.96875V15.2969ZM21.3906 14.7188L30.25 7.92188C30.1667 7.17188 30.0156 6.51042 29.7969 5.9375C29.5885 5.35417 29.3021 4.86979 28.9375 4.48438C28.5833 4.08854 28.1458 3.79167 27.625 3.59375C27.1146 3.39583 26.5208 3.29688 25.8438 3.29688C25.1562 3.29688 24.5469 3.40625 24.0156 3.625C23.4948 3.83333 23.0521 4.14062 22.6875 4.54688C22.25 5.05729 21.9219 5.71875 21.7031 6.53125C21.4948 7.33333 21.3906 8.26562 21.3906 9.32812V13.1406C21.3906 13.401 21.3906 13.6615 21.3906 13.9219C21.3906 14.1823 21.3906 14.4479 21.3906 14.7188ZM30.3125 15.9062V12.6875C30.3125 12.5312 30.3125 12.2344 30.3125 11.7969C30.3125 11.349 30.3125 10.9792 30.3125 10.6875L21.4688 17.4531C21.5625 18.2135 21.7292 18.8854 21.9688 19.4688C22.2083 20.0417 22.5208 20.5156 22.9062 20.8906C23.2604 21.2448 23.6875 21.5156 24.1875 21.7031C24.6875 21.8802 25.25 21.9688 25.875 21.9688C26.5312 21.9688 27.1146 21.8698 27.625 21.6719C28.1354 21.474 28.5677 21.1875 28.9219 20.8125C29.401 20.3021 29.75 19.6354 29.9688 18.8125C30.1979 17.9896 30.3125 17.0208 30.3125 15.9062Z"
        fill="#16a34a"></path>
      <path
        d="M52.4375 15.2969C52.4375 16.7448 52.2708 18.0312 51.9375 19.1562C51.6042 20.2708 51.125 21.2083 50.5 21.9688C49.875 22.7396 49.1094 23.3229 48.2031 23.7188C47.2969 24.1146 46.2604 24.3125 45.0938 24.3125C43.9375 24.3125 42.901 24.1198 41.9844 23.7344C41.0677 23.3385 40.2917 22.75 39.6562 21.9688C39.0208 21.2083 38.5365 20.2708 38.2031 19.1562C37.8698 18.0312 37.7031 16.7448 37.7031 15.2969V9.96875C37.7031 8.52083 37.8698 7.23958 38.2031 6.125C38.5365 5 39.0208 4.05208 39.6562 3.28125C40.2812 2.51042 41.0469 1.92708 41.9531 1.53125C42.8698 1.125 43.9062 0.921875 45.0625 0.921875C46.2292 0.921875 47.2656 1.125 48.1719 1.53125C49.0885 1.92708 49.8646 2.51042 50.5 3.28125C51.125 4.05208 51.6042 5 51.9375 6.125C52.2708 7.23958 52.4375 8.52083 52.4375 9.96875V15.2969ZM40.6094 14.7188L49.4688 7.92188C49.3854 7.17188 49.2344 6.51042 49.0156 5.9375C48.8073 5.35417 48.5208 4.86979 48.1562 4.48438C47.8021 4.08854 47.3646 3.79167 46.8438 3.59375C46.3333 3.39583 45.7396 3.29688 45.0625 3.29688C44.375 3.29688 43.7656 3.40625 43.2344 3.625C42.7135 3.83333 42.2708 4.14062 41.9062 4.54688C41.4688 5.05729 41.1406 5.71875 40.9219 6.53125C40.7135 7.33333 40.6094 8.26562 40.6094 9.32812V13.1406C40.6094 13.401 40.6094 13.6615 40.6094 13.9219C40.6094 14.1823 40.6094 14.4479 40.6094 14.7188ZM49.5312 15.9062V12.6875C49.5312 12.5312 49.5312 12.2344 49.5312 11.7969C49.5312 11.349 49.5312 10.9792 49.5312 10.6875L40.6875 17.4531C40.7812 18.2135 40.9479 18.8854 41.1875 19.4688C41.4271 20.0417 41.7396 20.5156 42.125 20.8906C42.4792 21.2448 42.9062 21.5156 43.4062 21.7031C43.9062 21.8802 44.4688 21.9688 45.0938 21.9688C45.75 21.9688 46.3333 21.8698 46.8438 21.6719C47.3542 21.474 47.7865 21.1875 48.1406 20.8125C48.6198 20.3021 48.9688 19.6354 49.1875 18.8125C49.4167 17.9896 49.5312 17.0208 49.5312 15.9062Z"
        fill="#16a34a"></path>
    </svg>
  </div>
  <p class="text-center mt-2">{metric}</p>
</div>
