---
import Application from "../icons/Application.astro"
import Website from "../icons/Website.astro"
import Optimization from "../icons/Optimization.astro"
import WhatWeBuild from "../letterings/WhatWeBuild.astro"

/**
 * 
- Websites
  - marketing pages
  - blogs
  - company services
  - portfolio
- Web apps
  - dashboarrds
  - inventory management
  - travel bookings
  - software as a service
- Optimization
  - SEO
  - loading speed improvement
  - accesibility
  - performance
- API
  - analytics
  - event calendar
  - notification systems
 */
---

<section class="py-20 md:py-28 px-6" id="solutions">
  <WhatWeBuild class="mb-20 w-full max-w-3xl" />

  <div class="grid grid-cols-1 md:grid-cols-3 gap-20">
    <div>
      <Application class="h-16" />
      <h3 class="my-6 font-bold text-2xl">Applications</h3>
      <p class="text-xl text-secondary-600">
        Web applications differ from sites by having a lot of interactivity: dashboards,
        inventory management systems, software as a service.
      </p>
    </div>
    <div>
      <Website class="h-16" />
      <h3 class="my-6 font-bold text-2xl">Websites</h3>
      <p class="text-xl text-secondary-600">
        Online presence is essential nowadays. Marketing pages, blogs, portfolios,
        business services sites are all made to reach more people.
      </p>
    </div>
    <div>
      <Optimization class="h-16" />
      <h3 class="my-6 font-bold text-2xl">Optimization</h3>
      <p class="text-xl text-secondary-600">
        We optimize SEO, loading speed, accesibility and many other aspects, so your
        clients are always comming back.
      </p>
    </div>
  </div>
</section>
