---
import { Image } from "astro:assets"
import benefitsImg from "../../assets/benefits.png"
---

<section class="py-20 md:py-28 px-6 grid grid-cols-1 md:grid-cols-2 gap-20" id="benefits">
  <div class="order-last md:order-first mb-8 md:mb-0">
    <Image
      src={benefitsImg}
      alt="benefits"
      class="rounded-xl w-full md:order-first"
      quality={100}
    />
  </div>
  <div class="place-self-center">
    <div
      class="pl-8 border-l-4 border-primary-500 md:border-transparent hover:border-primary-500 transition-border duration-300 ease-in-out"
    >
      <h1 class="font-bold text-4xl">People</h1>
      <h2 class="mt-6 mb-10 text-secondary-800">
        You will communicate directly to people, not layers of management. When you work
        with people both sides are motivated to deliver best results. While big companies
        only care about getting money from you. We care about strong relationships as
        well.
      </h2>
    </div>

    <div
      class="pl-8 border-l-4 border-transparent hover:border-primary-500 transition-border duration-300 ease-in-out"
    >
      <h1 class="font-bold text-4xl">Speed</h1>
      <h2 class="mt-6 mb-10 text-secondary-800">
        We believe in fast iterations and fixes. Each team member is constantly searching
        for next tasks after completing current ones. Fast development without loosing
        quality is what you and us want.
      </h2>
    </div>

    <div
      class="pl-8 border-l-4 border-transparent hover:border-primary-500 transition-border duration-300 ease-in-out"
    >
      <h1 class="font-bold text-4xl">AI</h1>
      <h2 class="mt-6 mb-10 text-secondary-800">
        We use AI to speed up development and design processes. As well we enhance images
        and copy with AI. It allows us to move forward and deliver results to your faster
        and in better quality.
      </h2>
    </div>
  </div>
</section>
