---
import TechnologyExpertise from "../letterings/TechnologyExpertise.astro"
---

<section class="py-20 md:py-28 px-6">
  <TechnologyExpertise class="mb-14 w-full max-w-5xl" />
  <div
    class="tech-grid grid grid-cols-2 md:grid-cols-4
    border-2 rounded-lg border-dashed border-secondary-300"
  >
    <div class="border-b-2 border-r-2">C#</div>
    <div class="border-b-2 md:border-r-2">TypeScript</div>
    <div class="border-b-2 border-r-2">Astro</div>
    <div class="border-b-2">Svelte</div>
    <div class="border-b-2 md:border-b-0 border-r-2">Tailwind</div>
    <div class="border-b-2 md:border-b-0 md:border-r-2">Vercel</div>
    <div class="border-r-2">Asp Net</div>
    <div class="">Fly.io</div>
  </div>
</section>

<style>
  .tech-grid > div {
    @apply h-28 grid place-content-center text-2xl border-dashed border-secondary-300;
  }
</style>
