---
import { Image } from "astro:assets"
import FiveStars from "../components/icons/FiveStars.astro"

type Props = {
  person: string
  position: string
  img: ImageMetadata
}
const { person, position, img } = Astro.props
---

<section class="py-20 md:py-28 px-6 max-w-4xl m-auto">
  <FiveStars class="mx-auto" />

  <p class="font-bold md:text-2xl text-lg my-8 text-center">
    <slot />
  </p>

  <div class="mx-auto flex justify-center items-center gap-5">
    <Image
      src={img}
      class="rounded-full h-14 w-14"
      alt={person}
      densities={[1, 1.5, 2]}
      quality="max"
      width={56}
      height={56}
    />
    <div>
      <p class="font-semibold">{person}</p>
      <p>{position}</p>
    </div>
  </div>
</section>
