---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import type { CollectionEntry } from "astro:content"
import type { Language } from "../../translations"
import Md from "../../components/Md.astro"

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog")

  return blogPosts.map((x) => {
    const [lang] = x.slug.split("/") as [Language]

    return {
      params: { slug: x.slug },
      props: { lang, post: x },
    }
  })
}

type Props = {
  lang: Language
  post: CollectionEntry<"blog">
}

const { lang, post } = Astro.props
const { Content } = await post.render()
---

<Layout
  lang={lang}
  title={post.data.title}
  description={`${post.data.description} by ${post.data.author}`}
>
  <section class="bg-secondary-50">
    <Md className="max-w-4xl m-auto px-6 py-12">
      <Content />
    </Md>
  </section>
</Layout>
