---
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import type { CollectionEntry } from "astro:content"
import { navbarTranslation } from "../../translations"
import Navbar from "../../components/nav/Navbar.astro"
import Footer from "../../components/nav/Footer.astro"

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog")

  return blogPosts.map((x) => ({
    params: { slug: x.slug },
    props: { post: x },
  }))
}

type Props = {
  post: CollectionEntry<"blog">
}

const { post } = Astro.props
const { Content } = await post.render()
---

<Layout lang="en" title={post.data.title} description={post.data.description}>
  <Navbar lang="en" t={navbarTranslation["en"]} />

  <main class="bg-secondary-50">
    <article class="max-w-4xl m-auto px-6 py-12">
      <Content />
    </article>
  </main>

  <Footer />
</Layout>

<style is:global>
  h1 {
    @apply mb-12 text-4xl font-bold !important;
  }
  h2 {
    @apply mt-8 mb-4 text-2xl font-semibold !important;
  }
  h3 {
    @apply mt-6 mb-4 text-xl font-semibold !important;
  }
  p,
  ul {
    @apply mb-4 !important;
  }
  ul {
    @apply list-disc list-inside !important;
  }
  a {
    @apply underline decoration-secondary-300 hover:decoration-primary-400 !important;
  }
</style>
