---
import Md from "../../components/Md.astro"
import Layout from "../../layouts/Layout.astro"
import { CollectionEntry, getCollection } from "astro:content"

export async function getStaticPaths() {
  const legals = await getCollection("legal")

  return legals.map((entry) => {
    return {
      params: { slug: entry.slug },
      props: { entry: entry },
    }
  })
}

type Props = {
  entry: CollectionEntry<"legal">
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout lang="en" title={entry.data.title} description={entry.data.title}>
  <section class="bg-secondary-50">
    <Md className="max-w-4xl m-auto px-6 py-12">
      <Content />
    </Md>
  </section>
</Layout>
