---
import Link from "../../components/nav/Link.svelte"
import Layout from "../../layouts/Layout.astro"
import { getCollection } from "astro:content"

const legals = await getCollection("legal")
---

<Layout
  lang="en"
  title="Flurium Legal info"
  description="Legal information for Flurium agency"
>
  <section class="pb-36 pt-12 sm:pt-28 m-auto px-6 max-w-5xl min-h-[75vh]">
    <h1 class="text-4xl sm:text-6xl">Flurium Legal information</h1>

    <div class="flex flex-col gap-4 mt-10 mb-10">
      {
        legals.map((legal) => (
          <Link href={`/legal/${legal.slug}`}>{legal.data.title}</Link>
        ))
      }
    </div>
  </section>
</Layout>
