---
import { Image } from "astro:assets"
import slide1 from "../../assets/ui/slide1.png"
import slide2 from "../../assets/ui/slide2.png"
import slide3 from "../../assets/ui/slide3.png"
---

<div
  id="img-slider"
  class="flex overflow-x-scroll overflow-y-hidden scroll-smooth rounded-lg max-w-2xl m-auto"
>
  <div
    id="img-slide-1"
    class="w-full flex-none pt-16 mt-[-4rem]"
    style="scroll-snap-align: center;"
  >
    <Image src={slide1} alt={"Image Slide 1"} class="w-full h-auto" />
  </div>
  <div
    id="img-slide-2"
    class="w-full flex-none pt-16 mt-[-4rem]"
    style="scroll-snap-align: center;"
  >
    <Image src={slide2} alt={"Image Slide 2"} class="w-full h-auto" />
  </div>
  <div
    id="img-slide-3"
    class="w-full flex-none pt-16 mt-[-4rem]"
    style="scroll-snap-align: center;"
  >
    <Image src={slide3} alt={"Image Slide 3"} class="w-full h-auto" />
  </div>
</div>

<div class="m-auto w-fit flex gap-2 mt-8">
  <a
    class="rounded-l-lg rounded-r py-3 px-6 border cursor-pointer transition-colors
    select-none active:bg-gray-800 active:text-white active:border-gray-800"
    href="#img-slide-1"
  >
    1
  </a>
  <a
    class="rounded py-3 px-6 border cursor-pointer transition-colors
    select-none active:bg-gray-800 active:text-white active:border-gray-800"
    href="#img-slide-2"
  >
    2
  </a>
  <a
    class="rounded-r-lg rounded-l py-3 px-6 border cursor-pointer transition-colors
    select-none active:bg-gray-800 active:text-white active:border-gray-800"
    href="#img-slide-3"
  >
    3
  </a>
</div>

<style>
  #img-slider {
    scroll-snap-type: x mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }

  #img-slider::-webkit-scrollbar {
    display: none;
  }

  #img-slider::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
</style>
