<div
  id="slider"
  class="flex overflow-x-scroll overflow-y-hidden scroll-smooth rounded-lg"
>
  <div
    id="slider-red"
    class="w-full flex-none pt-40 mt-[-10rem]"
    style="scroll-snap-align: center;"
  >
    <div class="h-40 bg-red-500"></div>
  </div>
  <div
    id="slider-blue"
    class="w-full flex-none pt-40 mt-[-10rem]"
    style="scroll-snap-align: center;"
  >
    <div class="h-40 bg-blue-500"></div>
  </div>
  <div
    id="slider-green"
    class="w-full flex-none pt-40 mt-[-10rem]"
    style="scroll-snap-align: center;"
  >
    <div class="h-40 bg-green-500"></div>
  </div>
</div>

<div class="m-auto w-fit flex gap-2 mt-8">
  <a
    class="rounded-l-lg rounded-r py-3 px-6 border cursor-pointer transition-colors
    select-none active:bg-secondary-800 active:text-white active:border-secondary-800"
    href="#slider-red"
  >
    Red
  </a>
  <a
    class="rounded py-3 px-6 border cursor-pointer transition-colors
    select-none active:bg-secondary-800 active:text-white active:border-secondary-800"
    href="#slider-blue"
  >
    Blue
  </a>
  <a
    class="rounded-r-lg rounded-l py-3 px-6 border cursor-pointer transition-colors
    select-none active:bg-secondary-800 active:text-white active:border-secondary-800"
    href="#slider-green"
  >
    Green
  </a>
</div>

<style>
  #slider {
    scroll-snap-type: x mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
  }

  #slider::-webkit-scrollbar {
    display: none;
  }

  #slider::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
</style>
