<input type="radio" name="tab" id="tab-preview" class="hidden" checked />
<input type="radio" name="tab" id="tab-code" class="hidden" checked />

<div class="flex gap-4 mb-4">
  <label for="tab-preview" class="p-3 border-primary-300 cursor-pointer">Preview</label>
  <label for="tab-code" class="p-3 border-green-300 cursor-pointer">Code</label>
</div>

<!-- can use data- instead of id, choose by preference -->
<div data-tab="preview" class="hidden rounded p-10 bg-primary-50">Preview content</div>
<div data-tab="code" class="hidden rounded p-10 bg-green-50">Code content</div>

<style is:global>
  #tab-preview:checked ~ * label[for="tab-preview"],
  #tab-code:checked ~ * label[for="tab-code"] {
    border-bottom-width: 2px;
  }

  #tab-code:checked ~ div[data-tab="code"],
  #tab-preview:checked ~ [data-tab="preview"] {
    display: block;
  }
</style>
