---
import { Image } from "astro:assets"
import Layout from "../layouts/Layout.astro"
import ContactSection from "../features/contact/ContactSection.astro"
import TestimonialList from "../features/testimonials/TestimonialList.astro"

import appsolutsLogo from "../assets/works/appsoluts/logo.svg"
import acupowerLogo from "../assets/works/acupower/logo.svg"
import otterdevLogo from "../assets/works/otterdev/logo.svg"
import spentodayLogo from "../assets/works/spentoday/logo.svg"

const works = [
  {
    img: appsolutsLogo,
    name: "App Soluts",
    description:
      "Finishing frontend of agency website. As well as fixing bugs, such as horizontal scrolls.",
  },
  {
    img: acupowerLogo,
    name: "Acupower",
    description: "Boosting SEO on marketing page, optimizing loading speed of pages.",
  },
  {
    img: otterdevLogo,
    name: "Otterdev",
    description:
      "Migrating content to Sanity CMS for several projects, in addition to frontend development.",
  },
  {
    img: spentodayLogo,
    name: "Spentoday",
    description:
      "Full development of E-commerce platform designed to be simple and fast to start, oriented on Ukrainian market.",
  },
]
---

<Layout
  title="Flurium - Software development team led by Roman Koshchei"
  description="Empower your business with exceptional user experiences and unmatched performance. We build web solutions committed to your success."
>
  <section class="my-16 md:my-24">
    <h3 class="text-2xl font-medium mb-2">Today</h3>
    <p class="text-secondary-600">
      We are making software solutions: web applications, content-oriented websites and
      API. Engineering, SEO and Design is provided by us based on your request.
    </p>
  </section>

  <section class="my-16 md:my-24">
    <h3 class="text-2xl font-medium mb-2">Works</h3>
    <p class="text-secondary-600 mb-6">
      Here are latest projects and clients we worked with. Some of them have written story
      about development process, so try to click on it!
    </p>

    <div class="flex flex-col gap-6">
      {
        works.map((work) => (
          // w-full max-w-full hover:max-w-2xl transition-all duration-300
          <div class="flex gap-6 md:gap-8 flex-col md:flex-row items-start p-8 shadow-sm border border-secondary-200 bg-white rounded-lg">
            <Image class=" w-16 h-auto" src={work.img} alt={`${work.name} logo`} />
            <div class="">
              <h4 class="text-xl font-medium mb-1">{work.name}</h4>
              <p class="text-secondary-600">{work.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </section>

  <ContactSection />

  <section class="my-16 md:my-24">
    <h3 class="text-2xl font-medium mb-2">Pricing</h3>
    <p class="text-secondary-600">
      People will never be able to predict exactly how much time it will take to develop
      certain software. So our pricing is subscription based. If you want to know
      approximately expected number of hours for your project, then contact us we will
      help!
    </p>

    <div class="grid md:grid-cols-2 mt-10 gap-5">
      <div class="border bg-white border-secondary-200 shadow-sm py-7 px-8 rounded-lg">
        <h4 class="text-2xl">Part-time</h4>
        <p class="mt-1 mb-5 text-secondary-600">
          Suitable to fix or maintain already existing projects, creating small-medium
          websites
        </p>

        <p class="text-2xl">400$</p>
        <p class="text-secondary-600 text-sm">USD per week</p>

        <ul class="mt-5 list-disc list-inside text-secondary-600">
          <li>Single team member at a time</li>
          <li>Text communication</li>
        </ul>
      </div>

      <div class="border bg-white border-secondary-200 shadow-sm py-7 px-8 rounded-lg">
        <h4 class="text-2xl">Full dedication</h4>
        <p class="mt-1 mb-5 text-secondary-600">
          Building from the ground, big websites and web applications
        </p>

        <p class="text-2xl">900$</p>
        <p class="text-secondary-600 text-sm">USD per week</p>

        <ul class="mt-5 list-disc list-inside text-secondary-600">
          <li>Several team members</li>
          <li>Priority support</li>
          <li>Video meetings if needed</li>
          <li>Text communication</li>
        </ul>
      </div>

      <div
        class="md:col-span-2 bg-white border border-secondary-200 shadow-sm py-7 px-8 rounded-lg"
      >
        <h4 class="text-2xl">Something else?</h4>
        <p class="mt-1 mb-5 text-secondary-600">
          If you are unsure about picking plan for you, then let’s chat. We will help to
          find right solution for you or create personal plan.
        </p>
        <a
          class="py-2 px-6 border border-secondary-200 shadow-sm inline-block rounded-full hover:bg-secondary-100"
          href="/#contact"
        >
          Contact
        </a>
      </div>
    </div>
  </section>

  <TestimonialList />
</Layout>
