---
import Layout from "../layouts/Layout.astro"
import NoJsSelect from "../components/nojs/NoJsSelect.astro"
---

<Layout
  title="No JS shadcn ui"
  description="Implementing shadcn ui select component using only HMTL and CSS. No JS is allowed."
>
  <hgroup class="text-center py-20 md:py-28">
    <h1 class="text-6xl font-bold mb-6">Shadcn UI select with 0 JS</h1>
    <h2>
      Only HTML and CSS is allowed to make <a
        href="https://ui.shadcn.com/docs/components/select">shadch ui select</a
      > component.
    </h2>
  </hgroup>

  <section class="py-20 grid place-content-center">
    <NoJsSelect
      class="mb-10"
      name="fruit"
      placeholder="Select a fruit"
      options={[
        { value: "apple", label: "Apple" },
        { value: "banana", label: "Banana" },
        { value: "blueberry", label: "Blueberry" },
      ]}
    />

    <NoJsSelect
      name="fruit-2"
      placeholder="Select second a fruit"
      options={[
        { value: "apple", label: "Apple" },
        { value: "banana", label: "Banana" },
        { value: "blueberry", label: "Blueberry" },
      ]}
    />
  </section>
</Layout>
