---
import Layout from "../layouts/Layout.astro"
---

<Layout title="" description="">
  <a href="#one">One</a>
  <a href="#two">Two</a>
  <a href="#three">Three</a>

  <div
    class="flex overflow-x-scroll scroll-smooth"
    style="scroll-snap-type: x mandatory;"
  >
    <div
      id="one"
      class="w-full flex-none h-96 bg-red-500"
      style="scroll-snap-align: start;"
    >
      Block 1
    </div>
    <div
      id="two"
      class="w-full flex-none h-96 bg-blue-500"
      style="scroll-snap-align: start;"
    >
      Block 2
    </div>
    <div
      id="three"
      class="w-full flex-none h-96 bg-green-500"
      style="scroll-snap-align: start;"
    >
      Block 3
    </div>
  </div>
</Layout>

<style>
  /* #scrollContainer {
    scroll-snap-type: x mandatory;
  } */
</style>
