---
import Layout from "../layouts/Layout.astro"
import Select from "../components/nojs/Select.astro"
import Tabs from "../components/nojs/tabs/Tabs.astro"
import Carousel from "../components/nojs/Carousel.astro"
import Slider from "../components/nojs/Slider.astro"
import ImgSlider from "../components/nojs/ImgSlider.astro"
---

<Layout
  title="Zero js UI | Flurium"
  description="No more Javascript dependencies!  HTML-first components, that you can copy and paste into your apps. Zero Javascript is required for interactions."
>
  <hgroup class="text-center py-20 md:py-28 px-6 max-w-3xl mx-auto">
    <h1 class="text-4xl sm:text-5xl md:text-6xl font-bold mb-6 leading-[1.2]">
      No more Javascript dependencies!
    </h1>
    <h2 class="text-secondary-700 text-lg">
      HTML-first components, that you can copy and paste into your apps. Zero Javascript
      is required for interactions. Inspired by
      <a
        href="https://ui.shadcn.com"
        class="border-b-2 border-primary-300 hover:border-primary-400 text-black"
        target="_blank"
      >
        Shadch UI
      </a>
       and
      <a
        href="https://library.relume.io/figma-kit"
        target="_blank"
        class="border-b-2 border-primary-300 hover:border-primary-400 text-black"
      >
        Relume Library
      </a> .
    </h2>
  </hgroup>

  <section class="py-20 md:py-28 px-6">
    <div class="p-16 text-center bg-primary-50 rounded-xl flex flex-col gap-4">
      <p>
        All components are early stage and may change over times. But it's not a library,
        so you can sleep calm.
      </p>
      <p>
        Certain components require repetitive elements, so we will provide code examples
        with minimal templating provided by Astro js.
      </p>
      <p>
        The price is a testimonial and sharement online. Make a post about Flurium UI, tag
        @roman_koshchei or @fluriumteam.
      </p>
    </div>
  </section>

  <section class="py-20 md:py-28 px-6">
    <h3 class="text-4xl font-bold mb-4">Select</h3>
    <p class="text-secondary-700 mb-8">
      Custom select dropdown where you can customize look of dropdown menu.
    </p>

    <div class="grid place-content-center gap-8 w-full">
      <Select
        name="fruit"
        placeholder="Select a fruit"
        options={[
          { value: "apple", label: "Apple" },
          { value: "banana", label: "Banana" },
          { value: "blueberry", label: "Blueberry" },
        ]}
      />

      <Select
        name="fruit-2"
        placeholder="Select second a fruit"
        options={[
          { value: "apple", label: "Apple" },
          { value: "banana", label: "Banana" },
          { value: "blueberry", label: "Blueberry" },
        ]}
      />
    </div>
  </section>

  <section class="py-20 md:py-28 px-6">
    <h3 class="text-4xl font-bold mb-4">Tabs</h3>
    <p class="text-secondary-700 mb-8">Show content of selected tab.</p>

    <Tabs />
  </section>

  <section class="py-20 md:py-28 px-6">
    <h3 class="text-4xl font-bold mb-4">Carousel</h3>
    <p class="text-secondary-700 mb-8">
      Carousel shows content based on selected option with slide animation.
    </p>
    <Carousel />
  </section>

  <section class="py-20 md:py-28 px-6">
    <h3 class="text-4xl font-bold mb-4">Slider</h3>
    <p class="text-secondary-700 mb-8">
      Slider is a carousel but based on swipes and url fragment (like #...). Recommended
      to reach out to Carousel first if don't super need swiping.
    </p>
    <Slider />
  </section>

  <section class="py-20 md:py-28 px-6">
    <h3 class="text-4xl font-bold mb-4">Image Slider</h3>
    <p class="text-secondary-700 mb-8">
      Slider with images for more examples. Swipe right and left to change.
    </p>
    <ImgSlider />
  </section>
</Layout>
