---
import { Image } from "astro:assets"
import ctaImg from "../assets/cta.png"
---

<section class="py-20 md:py-28 px-6 grid grid-cols-1 md:grid-cols-2 gap-20">
  <div class="place-self-center">
    <h3 class="font-bold text-5xl">Transform your Digital Presence Today!</h3>
    <p class="mt-6 mb-10">
      Our team of experts can help transform your digital presence and improve your online
      reach.
    </p>
    <a
      href="/#contact"
      class="py-4 px-6 bg-primary-500 text-white rounded-input hover:bg-primary-600"
      data-umami-event="Image CTA hire"
    >
      HIRE
    </a>
  </div>
  <Image src={ctaImg} alt="Path to the top" class="rounded-xl w-full" quality={100} />
</section>
