---
import { Image } from "astro:assets"

export type Props = {
  img: string
  role: string
  name: string
}

const { img, role, name } = Astro.props
---

<div class="text-center">
  <Image
    width={256}
    height={256}
    src={img}
    alt={`${name}'s photo`}
    class="w-full rounded-md"
    quality={100}
  />

  <h3 class="font-semibold text-xl mt-4">{name}</h3>
  <p class="opacity-90">{role}</p>
</div>
