---
import Seo from "../components/Seo.astro"
import "@fontsource-variable/playfair-display"

interface Props {
  title: string
  description: string
  image?: string
}

const url = Astro.url.href
const { title, description, image } = Astro.props

const isProd = import.meta.env.PROD
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <Seo
      title={title}
      description={description}
      siteName="Flurium Team"
      url={url}
      img={image ?? "https://www.flurium.com/og.png"}
      imgType="image/png"
      lang="en"
      twitterProfile="https://twitter.com/fluriumteam"
      linkedinProfile="https://www.linkedin.com/in/roman-koshchei-726078239"
      logo="https://www.flurium.com/favicon.svg"
      contactUrl="https://www.flurium.com/contact"
      keywords={[
        "web",
        "development",
        "app",
        "application",
        "seo",
        "seo boosting",
        "lead generation",
        "product",
        "site",
        "user experience",
        "online presence",
        "physical product",
        "digital product",
        "team",
        "design",
        "great work",
        "professional experience",
        "client results",
      ]}
    />

    {
      isProd ? (
        <script
          is:inline
          defer
          src="/scripts/umami.js"
          data-website-id="ef4d8def-1065-4e15-a93b-63f7cc790184"
        />
      ) : (
        <Fragment />
      )
    }

    <style is:global>
      *,
      *:focus {
        outline: none !important;
      }
    </style>
  </head>

  <body class="text-lg bg-secondary-25 text-secondary-800">
    <header
      class="sticky top-0 p-6 flex gap-1 bg-inherit lg:bg-transparent items-center justify-between"
    >
      <a class="text-2xl font-medium text-primary-500" href="/">Flurium</a>

      <a
        class="py-1 px-4 md:py-2 md:px-5 inline-block text-white bg-primary-500 hover:bg-primary-600"
        href="/#contact"
      >
        Contact
      </a>
    </header>

    <main class="max-w-5xl mx-auto px-6 py-12 md:py-20">
      <slot />
    </main>

    <footer
      class="bg-primary-500 py-16 px-6 md:px-16 text-white flex flex-col-reverse md:flex-row justify-between gap-12"
    >
      <div>
        <p class="text-4xl md:text-5xl font-serif font-medium">Flurium</p>
        <p class="text-white/80 mt-5">Team from Ukraine</p>
      </div>
      <div class="flex flex-col">
        <p class="text-3xl md:text-4xl font-serif font-medium">Resources</p>
        <a class="text-white/80 mt-5" href="/#articles">Articles</a>
        <a class="text-white/80 mt-1" href="/#contact">Contact</a>
        <a
          class="text-white/80 mt-1"
          target="_blank"
          href="https://twitter.com/roman_koshchei"
        >
          Twitter
        </a>
      </div>
    </footer>
  </body>
</html>
