---
import Seo from "../components/Seo.astro"
import "@fontsource/poppins"

interface Props {
  title: string
  description: string
}

const url = Astro.url.href
const { title, description } = Astro.props

const isProd = import.meta.env.PROD
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <Seo
      title={title}
      description={description}
      siteName="Flurium Team"
      url={url}
      img="https://www.flurium.com/og.png"
      imgType="image/png"
      lang="en"
      twitterProfile="https://twitter.com/fluriumteam"
      linkedinProfile="https://www.linkedin.com/in/roman-koshchei-726078239"
      logo="https://www.flurium.com/favicon.svg"
      contactUrl="https://www.flurium.com/contact"
      keywords={[
        "web",
        "development",
        "app",
        "application",
        "seo",
        "seo boosting",
        "lead generation",
        "product",
        "site",
        "user experience",
        "online presence",
        "physical product",
        "digital product",
        "team",
        "design",
        "great work",
        "professional experience",
        "client results",
      ]}
    />

    {
      isProd ? (
        <script
          is:inline
          async
          src="https://eu.umami.is/script.js"
          data-website-id="ef4d8def-1065-4e15-a93b-63f7cc790184"
        />
      ) : (
        <Fragment />
      )
    }

    <style is:global>
      *,
      *:focus {
        outline: none !important;
      }
    </style>
  </head>

  <body
    class="max-w-3xl mx-auto py-12 md:py-20 px-6 text-lg bg-secondary-25 text-secondary-800"
  >
    <header class="flex gap-1 items-center justify-between">
      <div>
        <a href="/">
          <h1 class="text-2xl font-medium text-primary-500">Flurium</h1>
        </a>
        <h2>
          Software development team led by <a href="https://twitter.com/roman_koshchei">
            Roman Koshchei
          </a>
        </h2>
      </div>
      <a
        class="py-1 px-4 md:py-2 md:px-6 border bg-white border-secondary-200
        shadow-sm inline-block rounded-full hover:bg-secondary-100"
        href="/#contact"
      >
        Contact
      </a>
    </header>

    <main>
      <slot />
    </main>
  </body>
</html>
