---
import Link from "./Link.svelte"

const year = new Date().getFullYear()
---

<footer
  class="py-8 flex justify-between flex-col gap-2 sm:flex-row border-t border-secondary-300"
>
  <span>© {year} Flurium. All rights reserved.</span>
  <span>
    The site is inspired by
    <Link href="https://www.thinkmill.com.au" external>Thinkmill</Link>
  </span>
  <Link href="/legal/privacy-policy">Privacy Policy</Link>
  <span>Made with 💛 in Ukraine.</span>
</footer>
