<footer class="py-20 flex justify-between items-center">
  <a href="/" class="flex items-center gap-4 font-semibold">
    <div class="rounded-full h-12 w-12 bg-indigo-500" />
    FLURIUM
  </a>

  <nav class="flex gap-8">
    <a href="/portfolio">PORTFOLIO</a>
    <a href="/team">TEAM</a>
    <a href="/solutions">SOLUTIONS</a>
    <a href="/#contact">
      CONTACT
    </a>
  </nav>

  <nav>
    <a href="https://twitter.com/roman_koshchei">X</a>
  </nav>

</footer>