<footer class="py-20 flex flex-col md:flex-row gap-8 justify-between items-center">
  <a href="/" class="flex items-center gap-4 font-semibold">
    <div class="rounded-full h-12 w-12 bg-indigo-500"></div>
     FLURIUM
  </a>

  <nav class="flex flex-col md:flex-row gap-4 md:gap-8 text-center">
    <a href="/portfolio">PORTFOLIO</a>
    <a href="/team">TEAM</a>
    <a href="/solutions">SOLUTIONS</a>
    <a href="/#contact"> CONTACT</a>
    <a href="/ui">UI</a>
  </nav>

  <nav>
    <a href="https://twitter.com/roman_koshchei">X</a>
  </nav>
</footer>
