---
type Props = {

}

---

<header class="flex justify-between py-5 items-center">
  <a href="/" class="flex items-center gap-4 font-semibold">
    <div class="rounded-full h-12 w-12 bg-indigo-500" />
    FLURIUM
  </a>

  <nav class="flex gap-8 items-center">
    <a href="/portfolio">PORTFOLIO</a>
    <a href="/team">TEAM</a>
    <a href="/solutions">SOLUTIONS</a>
    <a class="py-3 px-6 rounded bg-black text-white font-semibold" href="/#contact">
      HIRE US
    </a>
  </nav>
</header>