---
import ImageCta from "../../components/ImageCta.astro"
import ContactSection from "../../features/contact/ContactSection.astro"
import Projects from "../../features/projects/Projects.astro"
import Layout from "../../layouts/Layout.astro"
---

<Layout
  title="Our work | Flurium"
  description="Our portfolio provides clear evidence of our skills and experience in web development."
>
  <section class="py-20 md:py-28 px-6">
    <h1
      class="font-bold text-5xl md:text-6xl lg:text-7xl
      max-w-screen-lg m-auto text-center text-secondary-800"
      style="line-height: 1.2;"
    >
      Explore Our Experience
    </h1>
    <h2
      class="mt-14 mb-12 max-w-screen-md mx-auto text-center text-xl text-secondary-600 leading-normal"
    >
      Delve into Mastery: Unleashing Innovation in Web Design through our
      <span class="font-semibold text-secondary-800">Expansive Expertise</span> and
      <span class="font-semibold text-secondary-800"> Artful Craftsmanship</span>!
    </h2>
    <div class="flex justify-center gap-4">
      <a
        href="/#contact"
        class="py-4 px-8 bg-primary-500 text-white rounded-input hover:bg-primary-600"
        data-umami-event="Hero Contact"
      >
        CONTACT
      </a>
    </div>
  </section>

  <div class="pb-20 md:pb-28 px-6">
    <Projects />
  </div>

  <ContactSection />
</Layout>
